# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia
4. SQL
5. Scala
6. Visual Basic

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scikit-learn
4. matplotlib
5. Apache Spark
6. tensorflow

| DataScience Tools      | 
| ----------- | 
| JupyterLab      | 
| RStudio   | 
| Apache Zeppelin |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is an arentmetic expression to multiply and add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes into hours
200 / 60

3.3333333333333335

In [10]:
# Would be of course better to ...
print("%d hours and %d minutes" % (200 // 60, 200 % 60))

3 hours and 20 minutes

**Objectives:**
- overview of popular Languages like R and Python
- Create comments in cells
- Different Markdown formats like Bold and headers
- Create lists (ordered and unorderd) and tables

---

## Author

J. Stephan